[submodule "vendor/libretro-common"]
	path = vendor/libretro-common
	url = https://github.com/libretro/libretro-common.git
	ignore=dirty
[submodule "vendor/gambatte-libretro"]
	path = vendor/gambatte-libretro
	url = https://github.com/libretro/gambatte-libretro.git
	ignore=dirty
