[submodule "vendor/libretro-common"]
	path = vendor/libretro-common
	url = https://github.com/libretro/libretro-common.git
	ignore=dirty
[submodule "vendor/libretro-samples"]
	path = vendor/libretro-samples
	url = https://github.com/libretro/libretro-samples.git
    ignore=dirty
